$black_color: #000;
$white_color: #fff;
$section_bg: #f6f6f6;
$block_bg: #3b3b3b;
$main_orange: #ffc837;

$main_font_size: 14px;
$main_font_family: Arial, sans-serif;

$base : #f0f0f0;
$flat: #e74c3c;
$dark: #1E1E1E;